.formContainer {
	padding: 20px;

	& input {
		padding: 16px;
		margin: 0px 6px;
		width: 300px;

		&:focus {
			outline: 1px solid white;
		}
	}
}

/* T A B L E */

.tableContainerPrint {
	& table {
		border-collapse: collapse;
		width: 1200px;

		& button {
			padding: 4px 12px;
		}

		& td,
		th {
			border: 1px solid gray;
			padding: 6px;
		}

		& th {
			background-color: rgb(98, 98, 98);
		}
	}
}

/* F O O T E R  */

.footerPrintLabels {
	padding: 20px;
	display: flex;
	justify-content: center;
	width: 100%;
	background-color: #313131;
}

.footerPrintLabels button {
	margin: 0px 10px;
}
