.formContainer {
	padding: 20px;
}

.formContainer input {
	padding: 16px;
	margin: 0px 6px;
	width: 300px;
}

/* T A B L E */

.tableContainerPrint table {
	border-collapse: collapse;
	width: 1160px;
}

.tableContainerPrint table button {
	padding: 4px 12px;
}

.tableContainerPrint td {
	border: 1px solid gray;
	padding: 6px;
}

.tableContainerPrint th {
	border: 1px solid gray;
	padding: 6px;
	background-color: rgb(98, 98, 98);
}

/* F O O T E R  */

.footerContainer {
	padding: 20px;
}
